<div class="container" style="margin-top: 70px;">
  <form novalidate
      [formGroup]="myform"
      (ngSubmit)="gotoDynamic()"
       [disabled]="myform.invalid">



  <div class="form-group"
       [ngClass]="{
        'has-danger': id.invalid && (id.dirty || id.touched),
        'has-success': id.valid && (id.dirty || id.touched)
   }">
    <label>Name</label>
    <input [(ngModel)]="product.id"
            type="text"
           class="form-control"
           formControlName="id"
           required>
    <div class="form-control-feedback"
         *ngIf="id.errors && (id.dirty || id.touched)">
      <p *ngIf="id.errors.required">id is required</p>
      <p *ngIf="id.errors.minlength">product.id must be 8 characters long, we need another {{id.errors.minlength.requiredLength - id.errors.minlength.actualLength}} characters </p>
    </div>
  </div>

  <!-- <p>name :<input type="text" [(ngModel)]="product.name" > </p> -->
  <button (click)="gotoDynamic()" [disabled]="!myform.valid" class="btn btn-primary">Go</button>

</form>
</div>